a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }

  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }

  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }

body{
    background-image: url("th\ \(1\).jpg");
    background-color: chartreuse;
    background-repeat: no-repeat;
    background-size: cover;
    color: blue;
    
}